// Elements/base ---------------------------------------------------------------
.separator_blue {height: 1px; background-color: @hex_blue_light;}
.separator_greyH {background-color: #f2f2f2; height: 2px;}
.label_star {
    color: #fff;
    font-size: 16px;
    line-height: 33px;
    background-color: @hex_blue_light;
    width: 33px;
    height: 33px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.text_col2 {
    .mx_column_count(2);
    .mx_column_gap(44px);
}
.ico_arrow_prev, .ico_arrow_next {
    display: inline-block;
    width: 31px;
    height: 57px;
    background-repeat: no-repeat;
    background-position: center center;
}
.ico_arrow_prev {
    background-image: url('../img/icons/arrow_prev.png');
}
.ico_arrow_next {
    background-image: url('../img/icons/arrow_next.png');
}
#gmap {height: 230px;}
.boxBarMedia {
    position: fixed; 
    z-index: 20; 
    transform: rotate(270deg); 
    float: left;
    .barMedia {
        font-weight:100;     
        height: 90px;  
        padding-top: 14px;  
        padding-left: 25px;  
        padding-right: 25px; 
        color: white; 
        float: left;
        .mx_transition(all 0.2s);
    }
}
.boxBarMedia.wniosek {
    right: -60px; 
    top: 180px; 
    .barMedia {
        background-color: #1e1f5f;
        &:hover {background-color: #0f103e;}
    }
}
.boxBarMedia.serwis {
    top: 350px; 
    right: -80px; 
    .barMedia {
        background-color: #164193;
        &:hover {background-color: #0f103e;}
    }
}
.alert_container {
    position: fixed;
    left: 0;
    z-index: 20;
    top: 140px;
    width: 100%;
    .alert {
        margin: 0 20%;
    }
}
// Elements/frm ----------------------------------------------------------------
// simple buttons
.btn_gray {
    display: inline-block;
    color: #9b9b9b;
    font: 13px/42px @Roboto_500;
    border: 1px solid #9b9b9b;
    padding: 0 23px;
    outline:none;
    .mx_transition(all 1s);
    .mx_border-radius(25px);
    &:hover {
        color: #fff; 
        text-decoration: none;
        background-color: @hex_blue_light;
        border-color: @hex_blue_light;
    }
}
.btn_blue {
    display: inline-block;
    color: #fff;
    font: 14px/42px @Roboto_700;
    background-color: #6871da;
    padding: 0 20px;
    border:none;
    outline:none;
    .mx_transition(all 1s);
    .mx_border-radius(30px);
    i.fa {margin-left: 5px;}
    &:hover {
        color: #fff;
        background-color: #0f103e;
    }
}
.btn_main {
    color: #fff;
    font: 19px/72px @Roboto_300;
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: #11102f;
    opacity: 0.7;
    position: relative;
    .mx_transition(all 1s);
    b {font-family: @Roboto_700;}
    i.fa {
        position: absolute;
        top: 16px;
        left: 15px;
        display: none;
        .mx_transition(all 1s);
    }
    &:hover {
        color: #fff;
        background-color: #1e2667;
        b {opacity: 0.9;}
        i.fa {left: 20px;}
    }
}
.wrapper_see_more {padding-left: 0;}
.btn_see_more {
    display: inline-block;
    color: #fff;
    font: 14px/35px @Roboto_700;
    background-color: #6871da;
    padding: 0 20px;
    border:none;
    outline:none;
    margin-bottom: 30px;
    .mx_transition(all 1s);
    .mx_border-radius(30px);
    i.fa {margin-left: 5px;}
    &:hover {
        color: #fff;
        background-color: #0f103e;
    }
}
input[type=text], input[type=email], textarea {
    font: 12px/32px @Roboto_300;
    border: 1px solid #cecece;
    display: inline-block;
    width: 100%;
    /*margin-bottom: 15px;*/
    padding: 0 12px;
    background-color: #fff;
    .mx_border-radius(5px);
}
// Elements/box ----------------------------------------------------------------
.box_logo {text-align: center;}
.box_blue_grad, .box_blue_grad2 {
    height: 11px;
    .mx_gradient_linear(90deg, #1e1f5f, #1e1f5f, #646fd8, #1e1f5f);
}
.box_pagination {
    text-align: center;
    .item {
        display: inline-block;
        color: #9b9b9b;
        font: 13px/35px @Roboto_500;
        width: 35px;
        text-align: center;
        border: 1px solid #9b9b9b;
        padding: 0;
        margin: 0 4px;
        outline:none;
        text-align: center;
        .mx_transition(all 1s);
        .mx_border-radius(25px);
        &:hover, &.active {
            color: #fff; 
            text-decoration: none;
            background-color: @hex_blue_light;
            border-color: @hex_blue_light;
        }
    }
    .pagi-custom {
        a button {
            color: #9b9b9b;    
            background-color: #fff;
            border: 1px solid #9b9b9b;
            font: 13px/35px @Roboto_500;
            outline:none;
            width: 35px;
            text-align: center;
            padding: 0;
            .mx_border-radius(25px);
            &:hover {
                color: #fff;
                background-color: @hex_blue_light;
                border-color: @hex_blue_light;
            }
        }
        .pull-left a button {
            width: auto;
            padding: 0 6px;
        }
        .pull-right a button {
            width: auto;
            padding: 0 6px;
        }
    }
}

.box_slide {
    max-width: 295px;
    height: 380px;
    box-shadow: 0 1px 2px #ccc7c7;
    margin: 10px auto 15px;
    .mx_transition(all 0.2s);
    .foto_box {
        height: 197px;
        width: 100%;
        position: relative;
        .foto {width: 100%; height: 100%;}
        .rect_round {
            position: absolute;
            bottom: -13px;
            left: 50%;
            z-index: 5;
            margin-left: -12px;
        }
        .label_star {
            position: absolute;
            top: 0;
            left: 20px;
            z-index: 5;
        }
    }
    .content_box {
        background-color: #fff;
        padding: 23px 18px 20px;
        .data {
            color: #949494;
            font: 10px/12px @Roboto_500;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        .title {
            font: 15px/20px @Roboto_500;
            color: #232323;
            height: 60px;
            overflow: hidden;
            margin-bottom: 10px;
        }
    }
    &:hover {box-shadow: 0 0 15px #d6d6d6;}
}
.box_slider {
    background-color: @hex_gray;
    padding: 45px 0 40px;
    .prevArrow, .nextArrow {
        display: inline-block;
        position: absolute;
        //top: 55px;
        top: 0;
        height: 100%;
        z-index: 5;
        cursor: pointer;
        width: 50px;
        height: 380px;
    }
    .prevArrow {
        left: 0; 
        .mx_gradient_linear(90deg, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
        .ico_arrow_prev {
            position: absolute;
            top: 50%;
            left: 15px;
            margin-top: -28px;
            .mx_transition(all 1s);
        }
        &:hover {.ico_arrow_prev {left: 5px;}}
    }
    .nextArrow {
        right: 0; 
        .mx_gradient_linear(-90deg, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
        .ico_arrow_next {
            position: absolute;
            top: 50%;
            right: 15px;
            margin-top: -28px;
            .mx_transition(all 1s);
        }
        &:hover {.ico_arrow_next {right: 5px;}}
    }
}

.box_contact_slider {
    position: relative;
    width: 100%;
    .box_contact_slide {
        img {height: 230px;}
    }
    ul.slick-dots {
        position: absolute;
        top: 80%;
        left:40%;
        list-style: none;
        margin:0;
        text-align: center;
        padding-left: 0;
        li {
            float: left;
            line-height: 9px;
            height: 9px;
            margin: 0 3px;
            display: inline-block;
            button {
                font-size: 0;
                line-height: 9px;
                background-color: #d5d4d0;
                width:9px;
                height: 9px;
                border: none;
                padding: 0;
                .mx_border-radius(9px);
            }
        }
        li.slick-active button {
            background-color: #5d74de;
        }
    }
    .prevArrow, .nextArrow {
        display: inline-block;
        position: absolute;
        top: 80%;
        z-index: 5;
        color: #d5d4d0;
        cursor: pointer;
        text-shadow: 1px 1px #000;
        i.fa {font-size: 30px;}
    }
    .prevArrow {left: 20px;}
    .nextArrow {right: 20px;}
}

.box_main_foto {
    background: url('../img/bg/main_foto.jpg') no-repeat center center;
    height: 590px;
    .big {
        color: #fff;
        font: 75px/75px @RobotoSlab_700;
        text-align: center;
        margin-top: 270px;
    }
    .cbtn_main {
        margin-top: 120px;
        .col_btn_main {padding: 0;}
    }
    .btn_main {
        box-sizing: border-box;
        padding: 0;
        width: 100%;
    }
}
.box_offer_ask {
    background: url('../img/bg/bg_offer_ask.jpg') no-repeat center center;
    background-size: 100% 100%;
    width: 316px;
    height: 231px;
    padding: 40px 30px;
    color: #fff;
    font: 28px/31px @RobotoSlab_400;
    float:right;
    .btn_blue {margin-top: 18px;}
}
