// Parts  ----------------------------------------------------------------------
// Header, Footer --------------------------------------------------------------
.menu_bufor {height: 81px;}
.navbar-fixed-top {border:none;}
.navbar-toggle {
    border: 1px solid #1e1f5f;
    &:hover {
        color: #fff;
        background-color: #1e1f5f;
    }
}
nav.navbar.navbar-default {
    min-height: 81px;
    background-color: #fff;
    //box-shadow: 0 2px 2px #888888;
    //box-shadow: 0 7px 14px #ebebeb;
    .logo_jrental_top, .logo_jeunesse_top {
        display: inline-block;
        line-height: 81px;
        height: 81px;
        width: 215px;
        text-align: center;
        vertical-align: middle;
    }
    .logo_jrental_top {background-color: #1e1f5f;}
    .logo_jeunesse_top {background-color: #0f103e;}
    .navbar-collapse {
        margin-right: 15px;
        a {
            color: #0c0c0c;
            font: 14px/81px @Roboto_500;
            padding: 0 15px 0 15px;
            position: realative;
            .mx_transition(color 0.3s);
            &::before {
                content: " ";
                width: 100%;
                line-height: 81px;
                background-color: @hex_blue_dark;
                position: absolute;
                z-index: -1;
                bottom:0;
                left:0;
                height: 0;
                .mx_transition(height 0.3s);
            }
            &:hover {color: #fff;}
            &:hover::before {height: 81px;}
        }
        .menu_home .home_label {display: none;}
    }
    .navbar-collapse.box_nav_buttons {
        border: 1px solid #e1e1e1;
        background-color: #f8f8f8;
        padding: 2px;
        //display: inline-block;
        margin-right: 15px;
        margin-top: 15px;
        .mx_border-radius(30px);
        .btn_register {
            display: inline-block;
            color: #848484;
            font: 14px/42px @Roboto_700;
            padding: 0 10px;
            &::before {background-color: #fff;}
            &:hover {color: @hex_blue_dark;}
        }
        .btn_login {
            display: inline-block;
            color: #fff;
            font: 14px/42px @Roboto_700;
            background-color: #6871da;
            padding: 0 20px;
            outline:none;
            .mx_border-radius(30px);
            .mx_transition(all 1s);
            &::before {background-color: #fff;}
            &:hover {background-color: #0f103e;}
        }
    }
}
@media screen and (max-width: 1440px) {
    nav.navbar.navbar-default .navbar-collapse a {
        padding: 0 3px 0 3px;
    }
}
footer {
    color: #fff;
    font: 14px/16px @Roboto_500;
    background-color: @hex_blue;
    .rtop {
        margin: 60px 0 35px 0;
        .col_l {
            padding-left: 0;
            .logo_jeunesse_bottom {margin-left: 20px;}
        }
        .col_r {
            padding-right: 0;
            .nav > li > a:hover, .nav > li > a:focus {
                background-color: transparent;
            }
            .navbar-nav {float: right;}
            ul.nav li a {
                color: #fff;
                font: 14px/16px @Roboto_500;
                padding: 0 0 0 20px;
                &:hover {color: @hex_blue_light;}
            }
        }
    }
    .rbottom {
        margin: 35px 0 180px 0;
        .col_l {
            padding-left: 0;
            a {color: #fff;}
        }
        .col_r {
            text-align: right;
            color: @hex_blue_light;
            padding-right: 0;
            a {color: #fff;}
            a.strony {color: @hex_blue_light;}
        }
    }
}
// Layout ----------------------------------------------------------------------
.home_title {
    color: #1b1b1b;
    font: 42px/60px @RobotoSlab_300;
    margin: 85px 0 65px;
    b {
        color: #1e1f5f;
        font-family: @RobotoSlab_700;
    }
}
.page_home {
    margin-bottom: 40px;
}
.pg_title {
    background-color: #f1f1f1;
    margin-bottom: 50px;
    h1 {
        color: #000;
        font: 45px/45px @RobotoSlab_700;
        margin-top: 80px;
    }
    .date {color: #a8a4a4;}
    .box_blue_grad {margin-top: 50px;}
    .box_blue_grad2 {margin-top: 30px;}
}
.pg_contact {
    .row_data {
        margin-bottom: 55px;
        .col_slider, .col_gmap {
            box-sizing: border-box;
            display: inline-block;
            width: 50%;
        }
    }
    .row_content {
        margin-bottom: 60px;
        color: #000;
        font: 14px/20px @RobotoSlab_300;
    }
    .row_frm {
        margin-bottom: 50px;
        h2 {
            color: #1b1b1b;
            font: 21px/33px @RobotoSlab_400;
        }
        .row_textarea {margin-bottom: 10px;}
    }
}
.pg_kim_jestesmy {
    .row {margin-bottom: 65px;}
    .row_offer {
        .col_offer {
            height: 360px;
            background: url('../img/bg/bg_kim_jestesmy.jpg') no-repeat center center;
            padding: 65px 120px 50px;
        }
        color: #fff;
        font: 21px/33px @RobotoSlab_400;
        text-align: center;
        .btn_blue {
            font: 21px/62px @Roboto_700;
            padding: 0 60px;
            margin: 30px 0;
        }
    }
}
.pg_offer {
    .row_separator {margin-bottom: 55px;}
    .row_offer {
        .text {padding-left: 30px;}
        margin-bottom: 55px;
        .col_r {border-left: 6px solid #f0f0f0;}
        h2 {
            color: #000;
            font: 41px/41px @RobotoSlab_300;
            margin-top: 0;
        }
        small {
            color: #a8a6a6;
            font: 21px/27px @RobotoSlab_300;
            display: block;
            b {
                font-family: @RobotoSlab_700;
            }
        }
    }
}
.pg_blog_item {
    .row_content, .row_navigation {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .row_gallery {
        .col_foto {
            padding-top: 15px;
            padding-bottom: 15px;
            img {
                border: 1px solid black;
            }
        }
    }
}


