// Colors:
@hex_gray: #f1f1f1;
@hex_blue_light: #6771da;
@hex_blue: #1d1f5e;
@hex_blue_dark: #1e1f5f;
@hex_black_light: #1b1b1b;
@hex_black: #000;

@hex_h_fg: @hex_black_light;
@hex_txt_short: @hex_black_light;
@hex_txt: @hex_black;

// Gradients:
@hex_grad_dark: #1e1f5f;
@hex_grad_light: #6570d9;

// Fonts:
@Roboto_300: robotolight;
@Roboto_400: robotoregular;
@Roboto_500: robotomedium;
@Roboto_700: robotobold;
@Roboto_900: robotoblack;
@RobotoSlab_300: roboto_slablight;
@RobotoSlab_400: roboto_slabregular;
@RobotoSlab_700: roboto_slabbold;

// Simple class
.paddingL0 {padding-left: 0px;} 
.paddingR0 {padding-right: 0px;}
.paddingT0 {padding-top: 0px;}
.paddingB {padding-bottom: 0px;}
.paddingLR0 {padding-left: 0px; padding-right: 0px;}
.marginL0 {margin-left: 0px;}
.marginR0 {margin-right: 0px;}
.marginT0 {margin-top: 0px;}
.marginB0 {margin-bottom: 0px;}
.marginLR0 {margin-left: 0px; margin-right: 0px;}
.fl {float: left;}
.fr {float: right;}
.cl {clear: both;}
.tar {text-align: right;}
.tal {text-align: left;}
.tac {text-align: center;}
.t {font-weight: 100;}
.l {font-weight: 300;}
.n {font-weight: 400;}
.b {font-weight: 700;}
.eb {font-weight: 800;}
.ub {font-weight: 900;}
