body {color: @hex_txt; font: 16px/27px sans-serif;}
a {text-decoration: none;}
a:hover {color: @hex_blue_light; text-decoration: none;}

.text {
    color: @hex_txt; 
    font: 16px/27px @Roboto_300;
    a {text-decoration: none;}
    a:hover {color: @hex_blue_light; text-decoration: none;}
    p, .p {margin-bottom: 27px; text-align: justify;}
    .short {font: 21px/33px @RobotoSlab_400; margin-bottom: 33px;}
    b {font-family: @RobotoSlab_700;}
    ul li {font-family: @RobotoSlab_400;}
    ul {padding-left: 20px;}
}



