// Elements/frm --------------------------------------------------------------
// Elements/box ----------------------------------------------------------------
// Parts  ----------------------------------------------------------------------
// Header, Footer --------------------------------------------------------------
nav.navbar.navbar-default {
    min-height: 81px;
    .logo_jrental_top, .logo_jeunesse_top {
        width: 150px;
    }
    .navbar-collapse {
        margin-right: 25px;
        a {font-size: 13px; padding: 0 5px 0 5px;}
    }
}
footer {}
// Layout ----------------------------------------------------------------------


