.text {
    font: 14px/24px @Roboto_300;
    p, .p {margin-bottom: 24px;}
    .short {font: 18px/28px @RobotoSlab_400; margin-bottom: 33px;}
}
// Elements/frm --------------------------------------------------------------
// Elements/box ----------------------------------------------------------------
.box_offer_ask {width: auto;}
// Parts  ----------------------------------------------------------------------
// Header, Footer --------------------------------------------------------------
header {}
nav.navbar.navbar-default {
    min-height: 81px;
    .logo_jrental_top, .logo_jeunesse_top {width: 130px;}
    .navbar-collapse {
        margin-right: 5px;
        a {font-size: 13px; padding: 0 2px 0 2px;}
    }
    .navbar-collapse.box_nav_buttons {
        margin-right: 2px;
        .btn_register {
            font: 13px/42px robotobold;
            padding: 0 5px;
        }
        .btn_login {
            font: 13px/42px robotobold;
            padding: 0 10px;
        }        
    }
}
footer {
    .rtop .col_r ul.nav li a {
        padding: 0 0 0 15px;
    }
}
// Layout ----------------------------------------------------------------------
.pg_offer {
    .row_offer {
        h2 {font-size: 25px}
        small {
            font-size: 16px;
            display: inline-block;
        }
    }
}
.pg_title h1 {
    font-size: 35px;
    line-height: 35px;
}
.pg_title_offer h1 {
    font-size: 35px;
    line-height: 35px;
}
.pg_kim_jestesmy {
    .row_offer {
        .col_offer {padding: 40px 100px;}
    }
}

