// Elements/frm --------------------------------------------------------------
// Elements/box ----------------------------------------------------------------
.box_main_foto {
    height: 450px;
    .big {
        color: #fff;
        font: 50px/50px roboto_slabbold;
        text-align: center;
        margin-top: 200px;
    }
    .btn_main {font-size: 16px;}
}
// Parts  ----------------------------------------------------------------------

// Header, Footer --------------------------------------------------------------
.menu_bufor {height: 60px;}
.box_nav_buttons {margin-right: 2px; margin-top: 5px;}
nav.navbar.navbar-default {
    min-height: 60px;
    .logo_jrental_top, .logo_jeunesse_top {
        line-height: 60px;
        height: 60px;
        width: 70px;
    }
    .logo_jrental_top img {width: 60px;}
    .logo_jeunesse_top img {width: 60px;}
    .navbar-collapse {
        margin-right: 2px;
        a {
            font: 11px/60px @Roboto_400;
            padding: 0 2px 0 2px;
        }
        a.menu_home {
            display: block;
        }
    } 
    .navbar-collapse.box_nav_buttons {
        margin-right: 0;
        margin-top: 11px;
        .btn_register {
            font: 12px/32px robotobold;
            padding: 0 2px;
        }
        .btn_login {
            font: 12px/32px robotobold;
            padding: 0 3px;
        }        
    }
}

footer {
    font-size: 12px;
    .rtop .col_l {
        padding-rigth: 0;
        .logo_jeunesse_bottom {margin-left: 4px;}
    }
    .rtop .col_r {
        padding-left: 0;
        ul.nav li a {
            font-size: 12px;
            padding: 0 0 0 5px;
        }
    }
}
footer .rbottom {margin-bottom: 35px;}
// Layout ----------------------------------------------------------------------
.pg_offer {
    .row_offer {
        h2 {font-size: 30px}
        .col_r {border-left: none;}
        .text {padding-left: 0;}
    }
}
.pg_kim_jestesmy {
    .row_offer {
        .col_offer {padding: 30px 70px;}
    }
}
.pg_title h1 {
    font-size: 25px;
    line-height: 25px;
}
.pg_title_offer h1 {
    font-size: 25px;    
    line-height: 25px;
}
.pg_contact {
    .row_slider_map {
        margin-top: 30px;
        padding: 0 45px;
    }
}