.text {
    font: 16px/24px @Roboto_300;
    p, .p {margin-bottom: 24px;}
    .short {font: 16px/24px @RobotoSlab_400; margin-bottom: 33px;}
    p.see_more {
        height: 0px;
        overflow: hidden;
        margin-bottom: 0;
    }
    .see_more {
        height: 0px;
        overflow: hidden;
        margin-bottom: 0;
    }
}
.text_col2 {
    .mx_column_count(1);
    .mx_column_gap(0);
}
.boxBarMedia {
    transform: rotate(0deg);
    width: 50%;
    font-size: 14px;
    font-weight: normal;
    .barMedia {
        padding: 10px;
        width: 100%;
        text-align: center;
        height: auto;
    }
}
.boxBarMedia.wniosek {
    left: 0;
    bottom: 0;
    top: auto;
    .barMedia {
        background-color: @hex_blue_light;
    }
}
.boxBarMedia.serwis {
    bottom: 0;
    right: 0;
    top: auto;
}
// Elements/frm --------------------------------------------------------------
.btn_main {
    font: 14px/50px robotolight;
    i.fa {display: inline-block;}
}
// Elements/box ----------------------------------------------------------------
.box_main_foto {
    height: 250px;
    background-size: auto 250px;
    .big {
        font: 25px/25px roboto_slabbold;
        margin-top: 10px;
    }
    .cbtn_main {margin-top: 20px;}
}
.box_offer_ask {
    width: auto;
    max-width: 292px;
    margin: 0 auto;
    float: none;
}
// Parts  ----------------------------------------------------------------------
// Header, Footer --------------------------------------------------------------
header {}
nav.navbar.navbar-default {
    min-height: 60px;
    //box-shadow: 0 4px 8px #888;
    box-shadow: 0 7px 14px #ebebeb;
    .logo_jrental_top, .logo_jeunesse_top {
        line-height: 60px;
        height: 60px;
        width: 85px;
        img {width: 90%;}
    }
    button.navbar-toggle {margin-right: 10px; margin-bottom: 0;}
    .navbar-collapse {
        float: left;
        width: 100%;
        padding: 0 15px;
        ul.navbar-nav {
            margin: 0;
            padding: 0 15px;
            li a {
                font: 14px/18px @Roboto_700;
                padding: 10px 5px;
                border-bottom: 1px solid #ededed;
                .mx_transition(all 0s);
                &:hover {color: @hex_blue_light;}
                &:hover::before {height: 0;}
                &::before {.mx_transition(all 0s);};
            }
            li:last-child {
                a {border: none;}
                a.menu_home {
                    border-bottom: 1px solid #ededed;
                    display: block;
                    width: 100%;
                    i.fa {display: inline-block;}
                    .home_label {display: inline-block;}
                }
            } 
        }
    }
    .navbar-collapse.box_nav_buttons {
        overflow: hidden;
        margin-top: 0;
        background-color: #e7e7e7;
        border: none;
        width: 100%;
        padding: 0 15px;
        height: auto;
        .mx_border-radius(0);
        ul.navbar-nav {
            margin: 0;
            padding: 0 15px;
            li {
                a.btn_register, a.btn_login {
                    color: #0c0c0c;
                    font: 14px/18px @Roboto_700;
                    padding: 10px 5px;
                    background-color: #e7e7e7;
                    border-bottom: 1px solid #ededed;
                    width: 100%;
                    .mx_border-radius(0);
                    &:hover {color: @hex_blue_light;}
                    &:hover::before {height: 0;}
                }
            }
            li:last-child {
                a.btn_register, a.btn_login {
                    border: none;
                }
            }
        }
    }
    //#navbar-login-collapse {overflow: hidden;}
}
footer.container-fluid {
    padding: 0;
    .rtop .col_l {
        text-align: center;
        img{margin: 0 15px;}
    }
    .rbottom {
        .col_l, .col_r {
            text-align: center;
            padding-left: 0;
        }
        .col_r {
            margin-bottom: 40px;
        }
    }
}
// Layout ----------------------------------------------------------------------
.pg_offer {
    .box_offer_ask {margin-bottom: 30px;}
    .row_offer {
        height: 0px;
        overflow: hidden;
        margin-bottom: 0;
    }
    .row_offer h2 {font-size: 25px; line-height: 30px;}
}
.pg_zarzadzanie_flota .box_offer_ask {margin-top: 30px;}
.pg_kim_jestesmy .row_offer {
    font-size: 14px;
    line-height: 22px;
    .col_offer {
        height: auto;
        padding: 20px;
    }
    .btn_blue {
        font-size: 16px;
        line-height: 42px;
        padding: 0 20px;
        margin: 10px 0 0;
    }
}
.pg_title_content {padding: 0;}
.home_title {margin: 30px 0;}
.pg_blog_item {
    .row_gallery {
        text-align: center;
        .link_foto {display: inline-block;}
    }
}
.pg_contact {
    .row_slider_map {
        padding: 0;
        .col_slider {
            width: 100%;
            display: block;
            .box_contact_slider {
                .foto_box {
                    .foto {margin: 0 auto;}
                }
                .prevArrow {left: 25%;}
                .nextArrow {right: 25%;}
            }
        }
        .col_gmap {
            width: 100%;
            display: block;
        }
    }
}

.pg_kim_jestesmy {
    .row {margin-bottom: 30px;}
    .row_offer {
        margin-bottom: 30px;
    }
}